<html>
  <body>
    <div class="wrapper text-center">
      <h2>Login</h2>
      <hr />
      <!-- form -->
      <form>
        <div class="inputs">
          <input
            [(ngModel)]="payload.username"
            type="email"
            id="login"
            class="fadeIn second"
            name="email"
            placeholder="email"
          />
          <input
            [(ngModel)]="payload.password"
            type="password"
            id="password"
            class="fadeIn third"
            name="password"
            placeholder="password"
          />
        </div>
        <button
          id="subBtn"
          type="submit"
          class="text-center btn btn-success fourth"
          (click)="login()"
        >
          Login
        </button>
        <hr />
        <button
          class="text-center btn btn-outline-dark fourth"
          [routerLink]="['/signUp']"
          routerLinkActive="router-link-active"
        >
          Registrati
        </button>
      </form>
    </div>
  </body>
</html>
